<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Gerald Kigen</h1>
		<p>Welcome to my blog.</p>
		<p>This week I built a blog in Rails 4. You're </p>
		
	</div>
</div>